.listing-container {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  /* background-color: rgb(150, 163, 149); */
}

.sidebar-filter {
  padding-right: 1rem;
  min-width: 350px;
}

/* The Modal (background) */
.modal-div {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content-div {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  max-width: 400px;
}

/* The Close Button */
.modal-close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.max-width {
  max-width: 1320px;
}

.min-width-400 {
  min-width: 400px;
}

.landing-main {
  background-image: url("/market.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  height: 100vh;
}

button {
  background-color: #1697e8 !important;
  border-color: #1697e8 !important;
}

.height-70vh {
  height: 70vh;
}

body {
  font-family: "Josefin Sans", sans-serif !important;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}
